@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-kf06vv');
	src:url('fonts/icomoon.eot?#iefix-kf06vv') format('embedded-opentype'),
		url('fonts/icomoon.woff?-kf06vv') format('woff'),
		url('fonts/icomoon.ttf?-kf06vv') format('truetype'),
		url('fonts/icomoon.svg?-kf06vv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gota:before {
	content: "\e90b";
}

.icon-telefono:before {
	content: "\e942";
}

.icon-mail:before {
	content: "\e945";
}

.icon-ubicacion:before {
	content: "\e947";
}


/*UTILIDADES*/
.justifyText{
text-align : justify;
}
.u-title{
	color: #515151;
	border-bottom: 1px solid #40C4FF; 
	font-size: 1.2em;
	font-weight: 700;
	padding-bottom: .75em;
}
.border-top{
	border-top: 1px solid #f1f0f1; 
}
.ul-utilidad{ 									/*AQUI NO SE POR QUE NO ME CARGA EL FONT-SIZE*/
	font-size: 1.2em;
}
/*.testimonio-title{
	color: #515151;
	font-size: 1.2em;
	font-weight: 700;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}*/
.images{
	width: 90%;
	display: block; 
	margin: auto;
}
.wrapper-body{
	max-width: 1000px;
	margin: auto;
}
.wrapper-slider{
	max-width: 760px;
	max-height: 560px;
	margin: auto;
}
.wrapper-footer{
	max-width: 580px;
	margin: auto;
}

/*GENERAL*/
h2{
	margin-right: 1em;
	margin-left: 1em;
}
h3{
	color: #515151;
	font-size: 1.2em;
	font-weight: 700;
	margin-right: 2em;
	margin-left: 2em;
}
p{
	color: #515151;
	font-size: 1.2em;
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 0.6em;
}
a{
	color: #00B4FF;
	text-decoration: none;
}
a:hover, a:active{
	color: #40C4FF;
}
ul{
	font-size: 1em;
	margin-right: 4em;
	margin-left: 4em;
	color: #515151;
}
li{
	margin-bottom: 4px;
	list-style: none;
}

/*MENU*/
.Mainmenu{
	background: #f1f0f1;
	width: 100%;
	text-align: center;
	/*height: 3.75em;*/
	font-weight: 700;
	position: fixed;
	/*left: 0;
	right: 0;
	top: 0;*/
	z-index: 1000;
	margin: auto;
}
.Mainmenu-list{
	margin: 0;
	padding: 0;
}
.Mainmenu-item{
	display: inline-block;
}
.Mainmenu-itemLink{
	width: 100px;
	color: #515151;
	text-decoration: none;
	text-align: center;
	line-height: 3.75em;
	margin-right: 1px;
	border-radius:5px 5px 5px 5px;

		/* Efecto Fade */
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		overflow: hidden;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: color, background-color;
		transition-property: color, background-color;
}
.Mainmenu-itemLink:hover, .Mainmenu-itemLink:focus, .Mainmenu-itemLink:active {
    background-color: #00B4FF;
    color: white;
}


/*HEADER*/
/*.Header{
	margin-top: 3.75em;
}*/

/*blockquote*/
.blockquote-main{
	font-family: 'Playfair Display', serif;
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%;  
	
	font-size: 1.3em;
/*	line-height: 6em;*/
	width: 100%;
	background-color: #F1F0F1;
	height: 6em;
	text-align: center;
	color: #616161;
	font-weight: 300;
	font-style: italic;
}


/*TESTIMONIO*/
.testimonio{
	background-color: #f1f0f1;
	height: 18em;
}
.testimonio-avatar{
	margin-left: 25em;
	display: inline-block;
}

/*CONTACTO*/
.Contacto{
	background-color: #FFF;
	min-height: 15em;
}
.Contact-description{
	text-align: center;
}

/*FOOTER*/
.Footer-poweredby{
	background-color: #f1f0f1;
	text-align: center;
	padding-bottom: 0;
	height: 2.5em;
}
.Footer-poweredbyRight{
	font-size: 1em;
	color: #00B4FF;
	text-align: center;
}




